{% extends 'base.html' %}

{% set input_size = 25 %}

{% block header %}
  <h1>Welcome to ExonViz</h1>
{% endblock %}

{% block content %}
<p>Input a gene name, transcript or variant description below to visualise the transcript.</p>
<p>Please see the <a href=https://exonviz.readthedocs.io/en/latest/>documentation</a> for more information.</p>
  <table>
    <tr>
      <th>Type of input</th>
      <th>Example</th>
    </tr>
    <tr>
      <td>The name of a gene</td>
      <td>DMD</td>
    </tr>
    <tr>
      <td>A transcript identifier</td>
      <td>NM_004006.3</td>
    </tr>
    <tr>
      <td>A HGVS variant description</td>
      <td>NG_012337.3(NM_003002.4):c.274G>T</td>
    </tr>
    <tr>
      <td>Multiple variants in HGVS</td>
      <td>NM_003002.4:r.[274g>u;300del]</td>
    </tr>
  </table>
  <div class="float-container">
    <div class="sidebar">
      <form method="POST">
        <label for="transcript">Transcript</label>
        <br>
        <input type="text" name="transcript" size={{ input_size}} value="{{ session['transcript'] }}"></input>
        <br>

        <label for="height">Exon height</label>
        <br>
        <input type="number" name="height" size={{ input_size}} value="{{ session['height'] }}"></input>
        <br>

        <label for="scale">Drawing scale (pixels per basepair)</label>
        <br>
        <input type="number" name="scale", size={{ input_size}} step="0.1", value="{{ session['scale'] }}"></input>
        <br>

        <label for="gap">Exon gap size</label>
        <br>
        <input type="number" name="gap", size={{ input_size}} value="{{ session['gap'] }}"></input>
        <br>

        <label for="width">Figure width</label>
        <br>
        <input type="number" name="width", size={{ input_size}} value="{{ session['width'] }}"></input>
        <br>

        <label for="width">First exon</label>
        <br>
        <input type="number" name="firstexon", size={{ input_size}} value="{{ session['firstexon'] }}"></input>
        <br>

        <label for="width">Last exon</label>
        <br>
        <input type="number" name="lastexon", size={{ input_size}} value="{{ session['lastexon'] }}"></input>
        <br>

        <label for="color">Exon color (see <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/named-color">this list</a> of allowed colors)</label>
        <br>
        <input type="text" name="color", size={{ input_size}} value="{{ session['color'] }}"></input>
        <br>

        <label for="variantcolors">Variant colors</label>
        <br>
        <input type="text" name="variantcolors", size={{ input_size}} value="{{ ' '.join(session['variantcolors'])}}" multiple></input>
        <br>

        <label for="non_coding">Show non-coding:</label>
        <input type="checkbox" name="noncoding" id="noncoding" {{ "checked" if session['noncoding'] }}>
        <br>

        <label for="exon_number">Show exon number:</label>
        <input type="checkbox" name="exonnumber" id="exonnumber" {{ "checked" if session['exonnumber'] }}>
        <br>

        <label for="variantshape">Variant shape:</label>
        <select name="variantshape">
          <option value="pin" {% if session['variantshape'] == 'pin' %} selected {% endif %}>pin</option>
          <option value="bar" {% if session['variantshape'] == 'bar' %} selected {% endif %}>bar</option>
        </select>

        <button type="submit">Submit</button>

        {% if download_url %}
          <a href={{ download_url }}>Download!</a>
        {% endif %}
        <a href=https://exonviz.readthedocs.io/en/latest/disclaimer.html>Disclaimer</a>
      </form>
    </div>

    <div class="float-child">
      {{ figure | safe }}
    </div>
  </div>
{% endblock %}
